h1 {
  color:red;
}
 #a{  color: deepskyblue;
      background-color: blanchedalmond;
      border:7px solid lightslategrey ;
      padding: 10px; 
      border-radius: 40px;
      text-align: justify;
      margin:10px 10px 10px;
    }
     #b{color:yellow;
    background-color: darkgrey;
    border:7px solid palevioletred;
    padding: 10px;
    border-radius: 60px;
    text-align: justify;
    margin:10px 10px 10px
    }
    #c{color: orange;
      background-color: black;
      border:5px solid limegreen;
      padding: 5px;
      border-radius: 80px;
      text-align: justify;
      margin:10px 10px 10px;
    }
    #d{color: green;
     background-color: navajowhite;
     border:5px solid ;
     padding: 5px;
     border-radius: 100px;
     text-align: center;
     margin: 10px 10px 10px
    }
    #e{color: blue;
      background-color: yellow;
      border:5px solid ;
      padding: 5px;
      border-radius: 110px;
      text-align: center
    }